html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0px;
    background-color: #d660cc;
}

.inner-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 6vw;
    width: 76%;
}

.content{
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.inner-content{
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
    width: 76%;
}

.game-field{
    align-items: center;
    background-color: rgba(214, 96, 204, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 40px;
    width: 100%;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#game {
    visibility: hidden;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    background: #710067;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #d660cc;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
        display: block;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*=============== DROPDOWN MENU ===============*/

.logo{
    align-items: center;
    display: flex;
    height: 100%;
    width: 7%;
}

.logo img{
    width: 100%;
    height: auto;
}

.dropdown-menu{
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.dropdown-menu ul{
    padding: 0;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

.dropdown-menu li{
    display: table-cell;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    text-align: center;
    font-size: 1.1vw;
}

.dropdown-menu ul ul{
    display: block;
    position: absolute; 
    height: 0;
    overflow: hidden;
    transition: all;
    width: 100%;
}

.dropdown-menu ul ul li{
    display: block;
    width: 100%;    
}

.dropdown-menu ul ul a{
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
}

.dropdown-menu a{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-decoration: none;
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dropdown-menu a:hover{
    color: #fff040; 
}

.dropdown-menu li:hover ul{
    background-color: #710067;
    display: block;
    height: auto;
    width: 25vw;    
}